## Markdown Basics

* **BOLD**<br>
* *Italic*<br>
* ***IB*** <br>
* **Normal Text**<br>
    * Sublist 1
    * Sublist 2
 
 

 1. Ordered list element 1
 2. Ordered list element 2


 A. Order
 B. Unordered
 
 [Jupyter Logo](jupyter.png)
 
 
 - [1]Option 1
 - [2]Option 2
 - [x] Option 3
 - [_]option 4
 
 <img src="jupyter.png" style="float:left">
 `printf("Hello Markdown")`

## Python Basics
Python Version 3.7

- Scriptig
- Object oriented 
- Functional

In [15]:
#  Python comments

print("Hello everyone", "!", end="||") # basic output
print("Hello Python")

Hello everyone !||Hello Python

## Assignment

In [20]:
n1=123456 # Single Variable Assignment

n2=n3=n4=n5=n1 # Multi Variable Assignment 

#Multi Variable Assignment with Different Values
a,b,c=120,11,233

print(n5)
print(a,b,c)
a
b
c

123456
120 11 233

233

## Arithmetic Operators
 *   + 
 *    - 
 *   * 
 *   / 
 *   %<br>
 *  **

In [39]:
n1 % 11

n3 = n2 ** 123456

#type(n3)
len(str(n3))

atoms =10 ** 20
len(str(atoms))
type(str(atoms))

str

### Condition Checking

In [43]:
atoms > 10 ** 9

True

### Data Types
- int
- float
- string

In [53]:
type(a)
s1="python"
type(s1)

f1=12.34
type(f1)
int(f1)
float(int(f1))

n=1223321 ** 9
len(str(n))

55

In [1]:
if atoms < 10 ** 96:
    print("TRUE")
else:
    print("FALSE")

NameError: name 'atoms' is not defined

In [2]:
#check if given number is even or odd
n=12
if n%2==0:
    print("Even")
else:
    print("odd")

Even

In [1]:
# Find the greatest of three numbers
n1=int(input("Enter the first number:"))  
n2=int(input("Enter the second number:"))
n3=int(input("Enter the three number:"))
if n1>n2 and n1>n3:
    print(n1,"is the greatest number")
elif n2>n3 and n2>n1:
    print(n2,"is the greatest number")
else:
    print(n3,"is the greatest number")

Enter the first number:6
Enter the second number:9
Enter the three number:90
90 is the greatest number

In [3]:
# Check if a year is a leap year
n=int(input("enter year"))
if n%400==0 or (n%100!=0 and n%4==0):
    print(n,"leap year")
else:
    print(n,"not leap year")

enter year2020
2020 leap year

In [4]:
# check if a number exists in a given range

n= int(input("Enter a number:"))
S=int(input("Enetr starting number:"))
E= int(input("Enter ending number"))

if n>=S and n<=E:
    print("Number Exsits")
else: 
    print("Number does not Exists")

Enter a number:68
Enetr starting number:50
Enter ending number150
Number Exsits

In [5]:
#calculate the number of digits 
n=int(input("Enter a Number:"))
print(len(str(n)))

Enter a Number:1234567
7

In [3]:
#check if a number is a multiple of 10
n=int(input("enter the value"))
if n%10==0:
    print(n, "is divisible by 10")
else:
    print(n,"is not divisible by 10")

enter the value1000
1000 is divisible by 10

In [ ]:
#Check if given number is a factorial of 1000
n=int(input("enter the value"))
if 1000%n==0:
    print("factorial for 1000",n)
else:
    print("not factorial for 1000",n)

In [28]:
# check if given string is equal to a number
n="12345"
n1=12345
if str(n1)==n:
    print("equal")
else:
    print("not equal")

equal

In [27]:
# calculate the square root of a number without functions
n=int(input("enter n value"))
sr=n**0.5
print(sr)

enter n value9
3.0

In [4]:
#Calculate the number of nano(10^9) seconds in a given year(consider leap year logic)
year=int(input("enter year"))
if year % 400==0 or (year%100!=0 and year%4==0):
    nano=366*24*60*60*(10**9)
else:
    nano=365*24*60*60*(10**9)
print(nano)

enter year2020
31622400000000000